<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{list-quizzes}"></title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="quizzes-list">
    <p class="error" th:if="${param.error}" th:text="#{error.something-went-wrong}"></p>
    <table class="iksweb">
        <caption class="title-list" th:text="#{list-questions}"></caption>
        <tbody>
        <tr>
            <th id="name" th:text="#{name}"></th>
            <th id="time" th:text="#{time}"></th>
            <th id="difficulty" th:text="#{difficulty}"></th>
            <th id="subject" th:text="#{category}"></th>
            <th id="questions" th:text="#{questions}"></th>
            <th id="actions" th:text="#{actions}" colspan="2"></th>
        </tr>
        <th:block th:each="quiz : ${quizPage.content}">
            <tr>
                <td th:text="${quiz.name}">name</td>
                <td th:text="${quiz.time}">time</td>
                <td th:text="${quiz.difficulty.name}">difficulty</td>
                <td th:text="${quiz.category.name}">subject</td>
                <td>
                    <a th:href="@{/admin/quizzes/{id}/questions(id=${quiz.id})}" th:text="#{list-questions}"></a>
                </td>
                <td>
                    <a th:href="@{/admin/quizzes/edit/{id}(id=${quiz.id})}" th:text="#{edit}"></a>
                </td>
                <td>
                    <a th:href="@{/admin/quizzes/delete/{id}(id=${quiz.id})}" th:text="#{delete}"></a>
                </td>
            </tr>
        </th:block>
        <tr>
            <td colspan="7" style="text-align: center">
                <a href="/admin/quizzes/add" th:text="#{add-quiz}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="center">
        <div class="pagination">
            <a th:if="${quizPage.number + 1 != 1}"
               th:href="@{/admin/quizzes(page=${quizPage.number})}">&laquo;</a>
            <a th:unless="${quizPage.number + 1 != 1}" class="page-link disabled" href="#">&laquo;</a>
            <th:block th:each="i : ${#numbers.sequence(1, quizPage.totalPages)}">
                <a class="active" th:if="${quizPage.number + 1 == i}"
                   th:href="@{/admin/quizzes(page=${i})}" th:text="${i}"></a>
                <a th:unless="${quizPage.number + 1 == i}"
                   th:href="@{/admin/quizzes(page=${i})}" th:text="${i}"></a>
            </th:block>
            <a th:if="${quizPage.number + 1 != quizPage.totalPages}"
               th:href="@{/admin/quizzes(page=${quizPage.number + 2})}">&raquo;</a>
            <a th:unless="${quizPage.number + 1 != quizPage.totalPages}" class="page-link disabled" href="#">&raquo;</a>
        </div>
    </div>
    <div class="btns">
        <a class="btn" href="/admin/home" th:text="#{admin}"></a>
    </div>
</div>
<footer>
    <div class="langs">
        <a class="lang" th:href="@{${#httpServletRequest.requestURI}(lang='en')}">
            <i>EN</i>
        </a>
        <a class="lang" th:href="@{${#httpServletRequest.requestURI}(lang='ua')}">
            <i>UA</i>
        </a>
    </div>
</footer>
</body>
</html>