<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{sign-in}"></title>
</head>
<body>
<div class="main">
    <p class="sign" th:text="#{sign-in}"></p>
    <form class="form1" th:action="@{/login}" method="POST">
        <p class="incr" th:if="${param.error}" th:text="#{error.login.input}"></p>
        <input class="un " type="text" placeholder="Username" name="username"/>
        <input class="pass" type="password" placeholder="Password" name="password"/>
        <button class="submit" type="submit" style="padding: 10px 40px" th:text="#{sign-in}"></button>
        <p class="registr">
            <a th:href="@{/registration}" th:text="#{register}"></a>
        </p>
        <a th:href="@{${#httpServletRequest.requestURI}(lang='en')}">
            <i>EN</i>
        </a>
        <a th:href="@{${#httpServletRequest.requestURI}(lang='ua')}">
            <i>UA</i>
        </a>
    </form>
</div>
</body>
</html>