<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{register}"></title>

    <script>
        function validPass() {
            if (document.getElementById("p1").value.length !== 0 && document.getElementById("p2").value.length !== 0
                && document.getElementById("p1").value !== document.getElementById("p2").value) {
                document.getElementById("passHint1").innerHTML = "Passwords do not match";
                document.getElementById("passHint2").innerHTML = "Passwords do not match";
                document.getElementById("btn").disabled = true;
            } else if (document.getElementById("p1").value === document.getElementById("p2").value) {
                document.getElementById("passHint1").innerHTML = "";
                document.getElementById("passHint2").innerHTML = "";
                document.getElementById("btn").disabled = false;
            }
        }

        function validLogin(str) {
            if (str.length < 2 || str.length > 30) {
                document.getElementById("logHint").innerHTML = "Login must be from 2 to 30 characters";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById("logHint").innerHTML = "";
                document.getElementById("btn").disabled = false;
            }
        }
    </script>
</head>
<body>
<div class="main reg">
    <p class="sign" th:text="#{register}"></p>
    <form name="form1" class="form1" th:action="@{/registration}" method="POST" th:object="${user}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="incr">Email error</p>
        <input class="un " type="email" placeholder="Email" name="email" id="email" required/>
        <p><span class="incr" id="logHint"></span></p>
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="incr">Login error</p>
        <input class="un " type="text" placeholder="Username" name="login" id="login"
               onkeyup="validLogin(this.value)" required/>
        <p><span id="passHint1" class="incr"></span></p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="incr">Password error</p>
        <input id="p1" class="pass" type="password" placeholder="Password" name="password"
               onkeyup="validPass()" required/>
        <p><span id="passHint2" class="incr"></span></p>
        <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="incr">Password
            error</p>
        <input id="p2" class="pass" type="password" placeholder="Password" name="matchingPassword"
               onkeyup="validPass()" required/>
        <button id="btn" class="submit" type="submit" th:text="#{register}"></button>
        <p class="forgot">
            <a th:href="@{/login}" th:text="#{have-account}"></a>
        </p>
    </form>
</div>
</body>
</html>